.App {
  text-align: center;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.search{
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  /* display: block; */
}
.search:focus{
  outline: none;
}

.List{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

 
}
.ListItem{
  display: flex;
  align-items: center;
  height: 50px;

}
.checkbox{
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 20px;
}
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.true{
  text-decoration: line-through;
}

